doctype html
html
  head
    title= title //- based off of the title variable in the index.js
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- by doing -var name = value you can also define var inside the pugjs format or file
  body
    block content
      //the block content pul from the index.jade file that has a predefined content block
      // the doctype at the top defines what the file "looks" like
      // you also don't use the <> in pugjs
      // based off of spaces

